/* PublisherPage.css */

body {
    background-image: url('../assets/gaming.jpg');
    background-size: cover;
    background-position: fill;
    background-repeat: no-repeat;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the alpha channel for transparency */
}

.header {
    font-size: 24px;
    margin-bottom: 20px;
    color: black; /* Change text color to black */
    font-weight: bold; /* Make text bold */
}

.button {
    background-color: #5c7e10;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

/* Form styles */
.form-container {
    background-color: rgba(255, 255, 255, 0); /* Adjust the alpha channel for transparency */
    border: 2px solid #0a0a0a; /* Adjust the border width for boldness */
    border-radius: 13px; /* Add border-radius for rounded corners */
    padding: 20px;
    margin-top: 20px;
}

.form-container h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

form {
    display: grid;
    gap: 15px;
}

.form-input {
    display: grid;
    gap: 5px;
}

.form-input input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.form-button {
    background-color: #5c7e10;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}
.button-container {
    display: flex;
    justify-content: space-between;
  }
  